parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Method Zend_Navigation_Container::findBy\(\) should return \(iterable<Zend_Navigation_Page>&Zend_Navigation_Page\)\|null but returns array<Zend_Navigation_Page>\.#'
        # Defensive coding
        -
            message: '#Call to function current\(\) on a separate line has no effect\.#'
            path: './src/Zend/Navigation/Container.php'
